# Microsoft Agent Framework
agent-framework-azure-ai==1.0.0rc6
agent-framework-azure-ai-search==1.0.0b260402
agent-framework-core==1.0.0

# Azure SDK
azure-ai-projects>=2.0.0
azure-identity
python-dotenv

# MCP
mcp

# UI
streamlit>=1.40.0
